* {
    margin: 0px;
    padding: 0px;
}

:root {
    --preto: #000000;
    --branco: #ffffff;
}

body {
    background-color: var(--branco);
}

table {
    color: var(--branco);
}

.cabecalho {
    background-color: var(--preto);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}

.cabecalho_titulo {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}
            
.fialogo {
    width: 130px;
}

.logo_f1 {
    width: 130px;
}   

.tabela {
    background-image: url("Img/f1foto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.tabela_a {
    position: relative;
    top: 100px;
    left: 150px;
}

